body{
  height:100vh;
  width:100vw;
  background-image: url(./bg.jpg); 
  background-size:cover;
}

.App>header{
  width:100%;
  display: flex;
  flex-direction:column;
  align-items:center;
}

.App>header>:nth-child(1) {
  padding:10px;
  align-self:flex-end;
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
  margin:15px;
  font-size:3em;
}
