#big-book{
    width:100%;
    height:100vh;
    display: block;
    background-color:white ;
}
.search-result-list.short-book img{
    max-width:32px;
    height:32px;
    size:auto;
}

.short-book{
    width:33vh;
    height:32vh;
    display: inline-block;
}
.result-book{
    width:100%;
    height:64px;
    display: block;
}

.book{
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    
}
.short-book-description{
    vertical-align: top;
    display: inline-block;
}
