.search-component{
    width: auto;
    height: 40px;
    padding: 0;
}

.search-component>input{
    width: 30vh;
    height: 40px;
    display: block;
    font-style:italic ;
}

.search-component .search-results{
    margin:0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    text-align: left;
}

.search-component .search-results>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-component .search-results>ul>li{
    margin: 0;
    padding: 0;
}

.search-component .search-results{
    width:30vh;    
    background-color: lightseagreen;
}

